

/* blind */
.blind{
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute; 
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  /* inner */
  .inner{
  
  }
  
  /* headline */
  .headline-area .headline {
  
  }
  
  
  .link{
  
  }
  