@font-face {
  font-family: "soehne-buch-italic";
  src: url(../fonts/soehne-buch-kursiv.e552456c.woff2) format("woff2");
}
@font-face {
  font-family: "soehne-buch";
  src: url(../fonts/soehne-buch.a79bb12d.woff2) format("woff2");
}
@font-face {
  font-family: "soehne-dreiviertelfett";
  src: url(../fonts/soehne-dreiviertelfett.a283744c.woff2) format("woff2");
}
@font-face {
  font-family: "soehne-extrafett";
  src: url(../fonts/soehne-extrafett.92e3d4db.woff2) format("woff2");
}
@font-face {
  font-family: "soehne-halbfett";
  src: url(../fonts/soehne-halbfett.252d6986.woff2) format("woff2");
}
@font-face {
  font-family: "soehne-kraftig";
  src: url(../fonts/soehne-kraftig.8fe97cf9.woff2) format("woff2");
}
@font-face {
  font-family: "soehne-leicht-italic";
  src: url(../fonts/soehne-leicht-kursiv.5e6e3b21.woff2) format("woff2");
}
@font-face {
  font-family: "soehne-leicht";
  src: url(../fonts/soehne-leicht.2473e921.woff2) format("woff2");
}