.inner1{
    background: #000;
    color: #fff;
}
.sc-visual{
    position: relative;
    width: 100%;
    height: 200vh;
    .headline-area{
        position: sticky;
        top: 50vh;
        transform: translatey(-50%);
        .headline{
            font-size: 90px;
            line-height: 100px;
            text-align: center;
            font-family: 'soehne-extrafett';
            span{
                display: block;
            }
        }
    }
    .info-group{
        position: absolute;
        top: 80vh;
        left: 0;
        right: 0;
        padding: 40px 30px;
        transition: all 0.5s ease 0s;
        display: flex;
        justify-content: space-between;
        opacity: 1;
        &.on{
            top: 100%;
            opacity: 0;
        }
        .info{
            line-height: 1.3;
            .title{
                font-family: 'soehne-kraftig';
            }
            .copy{
                span{
                    display: block;
                }
            }
        }
    }
}
  

.sc-typo1 {
  position: relative;
  height: 400vh;
  padding-bottom: 300px;
  .text-box {
    position: sticky;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    .text {
      font-family: 'soehne-kraftig';
      white-space: nowrap;
      font-size: 11em;
      display: inline-block;
      span {
        opacity: 0;
        transition: opacity 0.5s ease-out;
      }
      .space{
        padding-left: 70px;
      }
      .spacei{
        padding-left: 30px;
      }
      .view {
        position: absolute;
        white-space: nowrap;
        opacity: 1;
        transition: opacity 0.5s ease-out;
        &.h{left: 100px;}
        &.i{left: 200px;}
      }
    }
  }
}


.sc-typo2{
  height: 1500vh;
  margin-top: 100px;
  padding: 0 80px;
  .group-typo{
    position: sticky;
    left: 80px;
    top: 150px;
    font-family: 'soehne-dreiviertelfett';
    // background: #ddd;
    .headline{
      font-size: 30px;
    }
    .text-area{
      display: flex;
      flex-direction: column;
      // background: #ff0;
      .text-list{
        position: relative;
        .title{
          display: block;
          font-size: 120px;
          opacity: 0;
          // &.ani1{background: rgb(215, 167, 167);}
          // &.ani2{background: rgb(189, 202, 209);}
          // &.ani3{background: rgb(209, 209, 189);}
        }
        .text-item{
          .sub{
            position: absolute;
            display: block;
            font-size: 80px;
            opacity: 0;
            &.top{
              top: 0;
            }
            &.bottom{
              top: 0;
            }
            &.slide1{
              overflow: inherit;
              top: -100%;
            }
            &.slide2{
              overflow: inherit;
              top: -200%;
            }
          }
        }
      }
    }
  }
}



.sc-typo3{
  position: relative;
  height: 200vh;
  padding-left: 50px;
  margin-top: 300px;
  .text-box{
    position: absolute;
    top: 0;
    font-size: 70px;
    font-family: 'soehne-halbfett';

    z-index: 1;
    .title{
      padding-bottom: 40px;
      color: #7b7b7b;
      &:hover {
        color: #ffffff;
        &::after{
          content: '';
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }
  .bg{
    position: sticky;
    top: 30%;
    transform: translateY(-50%);
    background: #ccc;
    .img-list{
      display: flex;
      gap: 50px;
      position: absolute;
      right: -180%;
      .img-item{
        width: 200px;
        height: 280px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}



.sc-works{
  position: relative;
  width: 100%;
  height: 300vh;
  background: #000;
  .group-works{
    height: 100%;
    width: 100%;
    .works-list{
      position: sticky;
      top: 50%;
      display: flex;
      gap: 10px;
      padding-top: 100px;
      .works-item{
        width: 230px;
        height: 350px;
        background: #ddd;
        transition: 1s;
        .link{
          display: none;
        }
        &:hover{
          background: #fbb0b0;
          width: 400px;
          &.link{
            display: block;
          }
        }
        img{}
        a{
          display: inline-block;
          padding: 10px;
          border-radius: 20px;
        }
        .cord{
          background: #ddd;
        }
        .site{
          background: #ddd;

        }
      }
    }
  }
}



.sc-info{
  height: 100vh;
  background: #ccc;
}